body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}

.container {
    margin: 0 auto;
}

.container h1 {
    color: orangered;
}

.container h2 {
    text-decoration: underline;
}

.container li {
    margin: 0;
    padding: 0;
}


.container a { 
    font-size: medium;
    text-decoration: none;
}

.container a:hover {
    font-size: large;
}